.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  display: block;
}

.imageWrapper {
  overflow: hidden;
  border-radius: 8px;
  background: var(--color-surface);
  margin-bottom: 16px;
}

.image {
  width: 100%;
  display: block;
  object-fit: cover;
}

.title {
  font-size: 20px;
  font-weight: 800;
  color: var(--color-primary);
}
